<div class="parts-search" id="parts-search">
    <div class="container parts-search__container">
        <div class="title-30 parts-search__headline">Ищете конкретную деталь?</div>
        <div class="parts-search__description">Если у Вас есть артикул - введите его в поле ниже и получите цену
            ПРЯМО СЕЙЧАС!</div>
    </div>
    <div class="container">
        <form action="" class="parts-search__form">
            <div class="row">
                <div class="col-sm-12 col-md-4 parts-search__field-wrapper">
                    <input type="text" name="artikul" placeholder="Введите артикул детали" class="parts-search__field" autocomplete="off">
                </div>
                <div class="col-sm-12 col-md-4 parts-search__field-wrapper">
                    <input type="text" name="phone" placeholder="Введите ваш телефон" class="parts-search__field" autocomplete="off">
                    <div class="parts-search__field-phone"></div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <button type="submit" class="the-button parts-search__form-submit">Узнать цену</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container parts-search__container">
        <p class="parts-search__content">Мы перезвоним вам в течение 3 минут и назовем цену детали!</p>
        <p class="parts-search__content">Или Вы можете перезвонить нам сами:</p>
        <a class="parts-search__content-phone" href="tel: +7(818)2474725"> +7 (818) 247-47-25</a>
    </div>
</div>