<div class="get-price">
    <div class="container get-price__container">
        <div class="get-price__inner">
            <div class="title-30 get-price__headline">Получите прайс прямо сейчас
                на электронную почту!</div>
            <form action="" class="get-price__form">
                <div class="get-price__field-wrapper">
                    <input type="email" name="email" placeholder="Введите ваш телефон" class="get-price__field" autocomplete="off">
                    <div class="get-price__field-email"></div>
                </div>
                <div class="get-price__field-wrapper">
                    <input type="phone" name="phone" placeholder="Введите ваш e-mail" class="get-price__field" autocomplete="off">
                    <div class="get-price__field-phone"></div>
                </div>
                <div class="get-price__comment">
                    <div class="get-price__comment-description">Прайс придет к Вам на почту
                        в течение 5 минут!</div>
                    <div class="get-price__comment-icon"><img src="images/get-price_clock.png" alt=""></div>
                </div>
                <button class="the-button get-price__form-submit" type="submit">Получить прайс</button>
            </form>
        </div>
    </div>
</div>