<div class="wide-range faq" id="faq">
    <div class="container wide-range__container">
        <div class="title-36 faq__headline">У Вас остались вопросы?</div>
        <div class="wide-range__description faq__description">На Ваши вопросы отвечает Эдуард</div>
    </div>
    <div class="container wide-range__items-container">
        <div class="row faq__items">
            <div class="col-md-12 col-lg-6 faq__questions">
                <ul class="faq__questions-list">
                    <li class="faq__question"><div class="faq__question-number">1.</div><div class="faq__question-content">Как заказать деталь правильно?</div></li>
                    <li class="faq__question"><div class="faq__question-number">2.</div><div class="faq__question-content">Что делать, если запчасть не понадобилась?</div></li>
                    <li class="faq__question"><div class="faq__question-number">3.</div><div class="faq__question-content">Как заказать деталь правильно?</div></li>
                    <li class="faq__question"><div class="faq__question-number">4.</div><div class="faq__question-content">Что делать, если запчасть не понадобилась?</div></li>
                    <li class="faq__question"><div class="faq__question-number">5.</div><div class="faq__question-content">В чем преимущества оригинальных деталей?</div></li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-6 faq__person">
                <div class="faq__person-info">
                    <img src="images/faq.png" alt="" class="faq__person-img_desktop">
                    <img src="images/faq2.png" alt="" class="faq__person-img_mobile">
                    <div class="faq__person-title">Эдуард Викторович,<br>Директор ООО "Eddie`s-Car"</div>
                </div>
            </div>
        </div>
    </div>
</div>