.faq {
  background-color: #0b3554;
  color: #fff;
  padding: 90px 0 102px;

  @media(max-width: 991px) {
    height: auto;
    padding: 70px 0;
  }

  @media(max-width: 576px) {
    height: auto;
    padding: 50px 0;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__headline {
    margin-bottom: 23px;
  }

  &__description {
    margin-bottom: 97px;

    @media(max-width: 991px) {
      margin-bottom: 70px;
    }

    @media(max-width: 576px) {
      margin-bottom: 40px;
      font-size: 16px;
    }
  }

  &__items {
    @media(max-width: 991px) {
      align-items: center;
      flex-direction: column-reverse;
    }
    @media(max-width: 767px) {
      padding: 0 10px;
    }
  }

  &__person{
    @media(max-width: 991px) {
      width: auto;
    }

    &-img {
      &_desktop {
        display: block;

        @media(max-width: 575px) {
          display: none;
        }
      }
      &_mobile {
        display: none;

        @media(max-width: 575px) {
          display: block;
        }
      }
    }

    &-info {
      position: relative;
    }
    &-title {
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 14px;
      font-weight: 400;
      background-color: #0b3554;
      opacity: 0.8;
      display: flex;
      padding: 9px 25px;
      text-align: left;

      @media(max-width: 479px) {
        padding: 5px 10px;
      }

      @media(max-width: 375px) {
        right: 0;
        text-align: center;
        justify-content: center;
      }
    }
  }

  &__questions {
    display: flex;

    @media(max-width: 991px) {
      justify-content: center;
      margin-top: 50px;
    }

    &-list {
      text-align: left;
      margin-top: -3px;
      margin-left: 2px;
    }
  }

  &__question {
    font-family: "Proxima Nova Rg", sans-serif;
    font-size: 16px;
    font-weight: 700;
    list-style-position: outside;
    margin-bottom: 55px;
    display: flex;

    &:hover {
      cursor: pointer;
      color: #579eff;
    }

    @media(max-width: 991px) {
      margin-bottom: 30px;
    }

    @media(max-width: 575px) {
      font-size: 14px;
      margin-bottom: 20px;
    }

    &-content {
      padding-left: 28px;

      @media(max-width: 1199px) {
        padding-left: 10px;
      }
    }

  }
}