<div class="safe-transportation" id="safe-transportation">
    <div class="container safe-transportation__container">
        <div class="title-36 safe-transportation__headline">Мы гарантируем сохранность деталей
            во время перевозки!
        </div>
        <div class="row safe-transportation__advantages">
            <div class="col-xs-12 col-md-4 safe-transportation__advantage">
                <img src="images/safe-transportation1.png" alt="" class="safe-transportation__advantage-icon">
                <div class="safe-transportation__advantage-description">Гарантия на целостность поставки прописана в договоре</div>
                <a href="#" class="safe-transportation__advantage-link">Подробнее</a>
            </div>
            <div class="col-xs-12 col-md-4 safe-transportation__advantage">
                <img src="images/safe-transportation2.png" alt="" class="safe-transportation__advantage-icon">
                <div class="safe-transportation__advantage-description">Каждая запчасть доставляется с завода в жесткой упаковке
                </div>
                <a href="#" class="safe-transportation__advantage-link">Подробнее</a>
            </div>
            <div class="col-xs-12 col-md-4 safe-transportation__advantage">
                <img src="images/safe-transportation3.png" alt="" class="safe-transportation__advantage-icon">
                <div class="safe-transportation__advantage-description">Дополнительный контроль качества нашими специалистами</div>
                <a href="#" class="safe-transportation__advantage-link">Подробнее</a>
            </div>
        </div>
    </div>
</div>