<div class="parts-search free-consultation" id="free-consultation">
    <div class="container parts-search__container">
        <div class="title-30 parts-search__headline free-consultation__headline">Если Вам необходима бесплатная консультация по вопросу обслуживания</div>
        <p class="parts-search__content">Звоните нам по телефону:</p>
        <p class="parts-search__content-phone"> +7 (818) 247-47-25</p>
    </div>
    <div class="container">
        <form action="" class="parts-search__form free-consultation__form">
            <div class="row free-consultation__row">
                <div class="col-sm-12 col-md-4 parts-search__field-wrapper">
                    <input type="text" name="phone" placeholder="Введите ваш телефон" class="parts-search__field" autocomplete="off">
                    <div class="parts-search__field-phone"></div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <button type="submit" class="the-button parts-search__form-submit">Перезвонить сейчас</button>
                </div>
            </div>
        </form>
    </div>
</div>