<div class="wide-range" id="wide-range">
    <div class="container wide-range__container">
        <div class="title-36 wide-range__headline">Вам не придется ждать!</div>
        <div class="wide-range__description">Любые запчасти для всех моделей Белаз
            всегда в наличии!</div>
    </div>
    <div class="container wide-range__items-container">
        <div class="row wide-range__items">
            <div class="col-xs-12 col-sm-6 col-md-3 wide-range__item">
                <div  class="wide-range__item-icon"><img src="images/wide-range1.png" alt=""></div>
                <div class="wide-range__item-description">Любые типы деталей
                    от шайбы до двигателя!</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 wide-range__item">
                <div class="wide-range__item-icon"><img src="images/wide-range2.png" alt=""></div>
                <div class="wide-range__item-description">Все модификации Белаз
                    от 45т до 450 т</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 wide-range__item">
                <div class="wide-range__item-icon"><img src="images/wide-range3.png" alt=""></div>
                <div class="wide-range__item-description">Отгружаем в день заказа!</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 wide-range__item">
                <div class="wide-range__item-icon"><img src="images/wide-range4.png" alt=""></div>
                <div class="wide-range__item-description">Доставим в любое место!</div>
            </div>
        </div>
    </div>
</div>