<div class="main-banner">
    <div class="container main-banner__container">
        <div class="row main-banner__row">
            <div class="col-md-12 col-lg-6 main-banner__left">
                <div class="main-banner__left-inner">
                    <h1 class="main-banner__headline">Оригинальные
                        запчасти
                        для Белаз
                    </h1>
                    <div class="main-banner__description">с бесплатной доставкой
                        в Ваш город!</div>
                    <ul class="main-banner__features">
                        <li class="main-banner__feature">
                            <div class="main-banner__feature-icon"><img src="images/feature-1.png" alt=""></div>
                            <div class="main-banner__feature-description">Дилерские цены - ниже на 20%, работаем без посредников!</div>
                        </li>
                        <li class="main-banner__feature">
                            <div class="main-banner__feature-icon"><img src="images/feature-2.png" alt=""></div>
                            <div class="main-banner__feature-description">Срочная бесплатная доставка
                                за 7 дней
                            </div>
                        </li>
                        <li class="main-banner__feature">
                            <div class="main-banner__feature-icon"><img src="images/feature-3.png" alt=""></div>
                            <div class="main-banner__feature-description short">Даем рассрочку
                                6 месяцев
                            </div>
                        </li>
                        <li class="main-banner__feature">
                            <div class="main-banner__feature-icon"><img src="images/feature-4.png" alt=""></div>
                            <div class="main-banner__feature-description short">Даем гарантию
                                от 12 месяцев
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

