<div class="wide-range own-storage" id="own-storage">
    <div class="container wide-range__container">
        <div class="title-36 wide-range__headline">У нас собственный склад!</div>
        <div class="wide-range__description">Это позволяет нам быстро обрабатывать запросы и отгружать детали
            в день заказа!</div>
    </div>
    <div class="container wide-range__items-container">
        <div class="row wide-range__items">
            <div class="col-xs-12 col-md-4 wide-range__item own-storage__item">
                <div  class="wide-range__item-icon own-storage__item-icon"><img src="images/storage1.png" alt=""></div>
             </div>
            <div class="col-xs-12 col-md-4 wide-range__item own-storage__item">
                <div class="wide-range__item-icon own-storage__item-icon"><img src="images/storage2.png" alt=""></div>
             </div>
            <div class="col-xs-12 col-md-4 wide-range__item own-storage__item">
                <div class="wide-range__item-icon own-storage__item-icon"><img src="images/storage3.png" alt=""></div>
            </div>
        </div>
    </div>
</div>