.own-storage {
  padding: 90px 0 24px;

  @media(max-width: 991px) {
    padding: 70px 0 24px;
  }

  @media (max-width: 767px) {
    padding: 50px 0 24px;
  }

  &__description {
    max-width: 680px;
  }

  &__item {
    margin-bottom: 30px;

    &-icon {
      height: auto;
    }
  }
}