<main class="main-wrapoper">
    {{> main-header }}
    {{> main-banner }}
    {{> get-price }}
    {{> wide-range }}
    {{> parts-search }}
    {{> safe-transportation }}
    {{> bonuses-discounts }}
    {{> faq }}
    {{> comfortable-collaboration }}
    {{> mobile-help }}
    {{> contacts }}

    {{> scroll-up }}
    {{> callback }}
    {{> thanks }}
</main>