<div class="safe-transportation mobile-help" id="mobile-help">
    <div class="container safe-transportation__container">
        <div class="title-36 safe-transportation__headline mobile-help__headline">У нас в штате есть мобильные бригады,
            готовые выехать на сервисное обслуживание,
            ремонт и проведение диагностики!
        </div>
        <div class="row safe-transportation__advantages">
            <div class="col-xs-12 col-md-4 safe-transportation__advantage mobile-help__advantage">
                <div class="safe-transportation__advantage-icon mobile-help__advantage-icon"><img src="images/mobile-help1.png" alt=""></div>
                <div class="safe-transportation__advantage-description mobile-help__advantage-description">Организуем выезд специалистов
                    в течение двух дней</div>
            </div>
            <div class="col-xs-12 col-md-4 safe-transportation__advantage mobile-help__advantage">
                <div class="safe-transportation__advantage-icon mobile-help__advantage-icon"><img src="images/mobile-help2.png" alt=""></div>
                <div class="safe-transportation__advantage-description mobile-help__advantage-description">Бригады укомплектованы
                    всем необходимым оборудованием
                    для производства работ
                    любой сложности</div>
            </div>
            <div class="col-xs-12 col-md-4 safe-transportation__advantage mobile-help__advantage">
                <div class="safe-transportation__advantage-icon mobile-help__advantage-icon"><img src="images/mobile-help3.png" alt=""></div>
                <div class="safe-transportation__advantage-description mobile-help__advantage-description">Все специалисты проходят обучение
                    и ежегодную аттестацию</div>
            </div>
        </div>
    </div>
</div>