<footer class="main-footer">
    <div class="container main-footer__container">
        <a href="/" class="main-header__logo">
            <img src="images/logo_long.png" alt="" class="main-header__logo_big">
            <img src="images/logo_short.png" alt="" class="main-header__logo_small">
        </a>
        <div class="main-footer__schedule">
            <div class="main-footer__schedule-question">Есть вопросы? Звоните!</div>
            <a href="tel:+7(818)2474725" class="main-footer__schedule-phone">+7 (818) 247-47-25</a>
        </div>

    </div>
</footer>