.main-header {
  background-color: #191919;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 31px 0 25px;
  transition: $delay;

  @media(max-width: 991px) {
    padding: 20px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
  }

  &_sticky {
    background: darken(#00bff3, 5%);
    min-height: 60px;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @media(max-width: 991px) {
      align-items: center;
    }
  }

  &__logo {

    &_big {
      @media(max-width: 480px) {
        display: none;
      }
    }

    &_small {
      display: none;

      @media(max-width: 480px) {
        display: block;
      }
    }
  }

  &__schedule {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: -17px;
    margin-top: -6px;

    @media(max-width: 991px) {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    margin-top: -5px;

    @media(max-width: 991px) {
      margin-top: 0;
    }

    &-phones {
      font-family: "Proxima Nova - Black", sans-serif;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 28px;

      @media(max-width: 767px) {
        display: none;
      }
    }

    &-phone {
      text-decoration: none;
      color: #fff;
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 18px 26px;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;

      @media(max-width: 375px) {
        padding: 13px;
      }
    }
  }

  &__menu-toggle {
    display: none;

    @media(max-width: 991px) {
      display: block;
    }
  }

  &__nav {
    display: none;

    @media(max-width: 991px) {
      margin-top: 20px;
      padding: 30px;
      flex-direction: column;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translateX(-1000px);
      background-color: #0b3554;
      opacity: 0.9;
      transition: 0.3s;
      z-index: 4;
      justify-content: center;
      align-items: stretch;
      overflow: scroll;
      min-width: 300px;
      border: 1px solid white;

      @media(max-width: 768px) {
        align-items: flex-start;
      }
    }

    &-link {
      padding: 5px 10px;
      font-family: 'Proxima Nova Rg', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      font-weight: 400;

      @media(max-width: 991px) {
        font-size: 16px;
        padding: 20px;
        text-align: left;
      }

      @media(max-width: 768px) {
        padding: 10px;
      }


      &:hover,
      &:active {
        color: #f7b516;
      }
    }

    &.is-open {
      display: flex;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}