<header class="main-header" id="top">
    <div class="container main-header__container">
        <a href="/" class="main-header__logo">
            <img src="images/logo_long.png" alt="" class="main-header__logo_big">
            <img src="images/logo_short.png" alt="" class="main-header__logo_small">
        </a>
        <nav class="main-header__nav">
            <a href="#wide-range" class="main-header__nav-link">Широкий ассортимент</a>
            <a href="#parts-search" class="main-header__nav-link">Поиск запчастей</a>
            <a href="#safe-transportation" class="main-header__nav-link">Безопасная перевозка</a>
            <a href="#bonuses-discounts" class="main-header__nav-link">Бонусы и скидки</a>
            <a href="#faq" class="main-header__nav-link">ЧАВО</a>
            <a href="#comfortable-collaboration" class="main-header__nav-link">Комфортное сотрудничество</a>
            <a href="#own-storage" class="main-header__nav-link">Собственный склад</a>
            <a href="#mobile-help" class="main-header__nav-link">Мобильная помощь</a>
            <a href="#contacts" class="main-header__nav-link">Контакты</a>
        </nav>
        <div class="main-header__schedule">
            <div class="main-header__schedule-time">c <span class="fat">9:00</span> до <span class="fat">21:00</span></div>
            <div class="main-header__schedule-description">без выходных</div>
        </div>
        <div class="main-header__contacts">
            <div class="main-header__contacts-phones">
                <a href="tel:+7(818)2474725" class="main-header__contacts-phone">+7 (818) 247-47-25</a>
                <a href="tel:+7(818)2474725" class="main-header__contacts-phone">+7 (818) 247-47-25</a>
            </div>
            <div class="the-button main-header__contacts-button">Заказать звонок</div>
        </div>
        <div class="main-header__menu-toggle">
            {{> menu-toggle }}
        </div>
    </div>
</header>


