<div class="bonuses-discounts" id="bonuses-discounts">
    <div class="container wide-range__container">
        <div class="title-36 wide-range__headline bonuses-discounts__headline">У нас разработаны бонусные системы
            и скидки для наших клиентов</div>
    </div>
    <div class="container wide-range__items-container">
        <div class="row wide-range__items">
            <div class="col-xs-12 col-sm-6 col-md-3 wide-range__item bonuses-discounts__item">
                <div  class="wide-range__item-icon bonuses-discounts__item-icon"><img src="images/bonus1.png" alt=""></div>
                <div class="wide-range__item-description">Дополнительная скидка 10% на вторую запчасть и любые последующие</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 wide-range__item bonuses-discounts__item">
                <div class="wide-range__item-icon bonuses-discounts__item-icon"><img src="images/bonus2.png" alt=""></div>
                <div class="wide-range__item-description">Скидка 20% при заключении договора на годовое сервисное обслуживание</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 wide-range__item bonuses-discounts__item">
                <div class="wide-range__item-icon bonuses-discounts__item-icon"><img src="images/bonus3.png" alt=""></div>
                <div class="wide-range__item-description">Бесплатная доставка по всей России для всех клиентов</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 wide-range__item bonuses-discounts__item">
                <div class="wide-range__item-icon bonuses-discounts__item-icon"><img src="images/bonus4.png" alt=""></div>
                <div class="wide-range__item-description">Бесплатная круглосуточная техническая поддержка</div>
            </div>
        </div>
    </div>
</div>